affine==2.4.0
aiohappyeyeballs==2.4.6
aiohttp==3.11.12
aiosignal==1.3.2
altair==5.5.0
annotated-types==0.7.0
anywidget==0.9.18
asgiref==3.11.0
asttokens==3.0.0
attrs==25.1.0
beautifulsoup4==4.14.3
blinker==1.9.0
bqplot==0.12.45
branca==0.8.2
cachetools==6.2.1
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.3.0
click-plugins==1.1.1.2
cligj==0.7.2
colorama==0.4.6
comm==0.2.3
comtypes==1.2.0
contourpy==1.3.3
cycler==0.12.1
debugpy==1.8.20
decorator==5.2.1
discord.py==2.4.0
Django==5.2.10
duckdb==1.5.0
earthengine-api==1.6.15
ee==0.2
eerepr==0.1.2
eval_type_backport==0.3.1
executing==2.2.1
feedparser==6.0.12
filelock==3.25.2
Flask==3.1.2
folium==0.20.0
fonttools==4.60.1
frozenlist==1.5.0
future==1.0.0
gdown==5.2.1
geemap==0.36.6
geocoder==1.38.1
geojson==3.2.0
geopandas==1.1.1
gitdb==4.0.12
GitPython==3.1.45
google-api-core==2.28.1
google-api-python-client==2.186.0
google-auth==2.42.1
google-auth-httplib2==0.2.1
google-cloud-core==2.5.0
google-cloud-storage==3.4.1
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.71.0
gunicorn==25.3.0
httplib2==0.31.0
idna==3.4
ipyevents==2.0.4
ipyfilechooser==0.6.0
ipykernel==7.1.0
ipyleaflet==0.20.0
ipython==9.6.0
ipython_pygments_lexers==1.1.1
ipytree==0.2.2
ipyvue==1.12.0
ipyvuetify==1.11.3
ipywidgets==8.1.8
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter-leaflet==0.20.0
jupyter_client==8.8.0
jupyter_core==5.9.1
jupyterlab_widgets==3.0.16
kiwisolver==1.4.9
leafmap==0.60.3
lxml==6.0.2
maplibre==0.3.6
MarkupSafe==3.0.3
matplotlib==3.10.7
matplotlib-inline==0.2.1
mexc-sdk==0.0.1
multidict==6.1.0
narwhals==2.10.2
nest-asyncio==1.6.0
numpy==2.3.4
packaging==25.0
pandas==2.3.3
parso==0.8.5
pillow==12.1.0
platformdirs==4.5.1
plotly==6.4.0
prompt_toolkit==3.0.52
propcache==0.2.1
proto-plus==1.26.1
protobuf==6.33.0
psutil==7.2.2
psycopg2-binary==2.9.11
psygnal==0.15.0
pure_eval==0.2.3
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pydantic==2.12.5
pydantic_core==2.41.5
pydeck==0.9.1
pygame==2.5.1
Pygments==2.19.2
pyogrio==0.11.1
pyparsing==3.2.5
pyperclip==1.11.0
pyproj==3.7.2
pyshp==3.0.2.post1
PySocks==1.7.1
pystac==1.14.3
pystac-client==0.9.0
python-box==7.3.2
python-dateutil==2.9.0.post0
pytz==2025.2
pyzmq==27.1.0
rasterio==1.4.3
ratelim==0.1.6
referencing==0.37.0
requests==2.31.0
rpds-py==0.28.0
rsa==4.9.1
scooby==0.11.0
sgmllib3k==1.0.0
shapely==2.1.2
six==1.17.0
smmap==5.0.2
soupsieve==2.8.3
sqlparse==0.5.5
stack-data==0.6.3
streamlit==1.51.0
tenacity==9.1.2
toml==0.10.2
tornado==6.5.2
tqdm==4.67.3
traitlets==5.14.3
traittypes==0.2.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
uritemplate==4.2.0
urllib3==2.0.4
watchdog==6.0.0
wcwidth==0.2.14
Werkzeug==3.1.3
whitebox==2.3.6
whiteboxgui==2.3.0
whitenoise==6.12.0
widgetsnbextension==4.0.15
xyzservices==2025.10.0
yarl==1.18.3